body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fcfcfc;
}

#sidenav-overlay {
  z-index: 1;
}

nav {
  background-color: #003b6f	;
}

nav>div>a.brand-logo {
  font-size: 1.2rem;
}

a.menu.active {
  background-color: #00203c;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  border-bottom-color: #eee;
}

a.menu:hover {
  border-bottom-color: #eee;
  border-bottom-style: solid;
}

a.mobile-menu.active {
  background-color: #eeeeee;
  color: #000;
  font-weight: 600;
}

.side-nav .userView .background {
  background-color: #f44336;
  background-image:  linear-gradient(
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2)
  ),url("/images/background.jpg");
  /*opacity: 0.9;*/
  /*filter: alpha(opacity=90);*/
  /*-webkit-filter: blur(1px);*/
  /*-moz-filter: blur(1px);*/
  /*-o-filter: blur(1px);*/
  /*-ms-filter: blur(1px);*/
  /*filter: blur(1px);*/
}

.side-nav .userView .name {
  font-weight: 600;
}
.side-nav .userView .email {
  font-weight: 500;
}

nav .brand-logo {
  font-size: 1.4rem;
}

.menu-profil {
  height:3rem;
  width:3rem;
}